body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
}

.img-responsive {
  max-width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}

.grid-3-columns-first-small {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 50px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f9f9f9;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../images/berlin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 260px;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 76px;
  line-height: 1.2;
  margin: 0;
}

header h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  letter-spacing: 6px;
  line-height: 1.5;
  margin: 0;
}

header a {
  text-decoration: none;
  color: black;
  background: white;
  padding: 10px 28px;
  display: inline-block;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 2px;
}

main {
  color: #272044;
}

main h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
  opacity: 0.3;
  margin: 0;
  line-height: 1.5;
}

main h3 {
  font-size: 34px;
  margin: 0;
  line-height: 1.5;
}

main h4 {
  margin: 0;
  font-size: 28px;
}

main h5 {
  font-size: 14px;
  margin: 0;
}

main p {
  line-height: 1.5;
  opacity: 0.7;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/berlin-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer h3 {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

footer p {
  font-size: 12px;
  opacity: 0.6;
  line-height: 1.5;
}

footer ul {
  padding: 0;
  font-size: 12px;
  opacity: 0.6;
}

footer li {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 140px;
}

.card-header img {
  height: 100%;
}

.card-body {
  padding: 20px 30px;
}
.card-body p {
  font-size: 14px;
}

.card a {
  background: #462cb3;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 900px) {
  header {
    padding: 50px 0;
  }

  header h1 {
    font-size: 46px;
  }

  header h2 {
    font-size: 26px;
  }

  header h3 {
    font-size: 14px;
    letter-spacing: 4px;
  }

  header a {
    padding: 8px 24px;
    font-size: small;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid-3-columns-first-small {
    grid-gap: 20px;
  }
  section {
    padding: 30px;
  }

  main h2 {
    font-size: 14px;
  }
  main h3 {
    font-size: 24px;
  }
}
